*,
        /**:before,
        *:after {
            padding: 0;
            margin: 0;
        }*/

        html,
        body {
            overflow-x: hidden;
            font-family: 'Fira Code';
            font-size: 16px;
        }

        .container {
            display: grid;

            grid-template-areas:
                "header header header"
                "nav content content"
                "footer footer footer";

            grid-template-columns: 200px 1fr 200px;
            grid-template-rows: auto 1fr auto;
            grid-gap: 10px;

            height: 100vh;
        }

        header {
            grid-area: header;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav {
            grid-area: nav;
            margin-left: 0.5rem;
        }

        main {
            grid-area: content;
        }

        aside {
            grid-area: side;
            margin-right: 0.5rem;
        }

        footer {
            grid-area: footer;
            background: aliceblue;
            padding: 1rem;
            /*for tool items*/
            display: flex;
            justify-content: space-between;
            align-items: center;
            /*for tool items*/
        }

        @media (max-width: 768px) {
            .container {
                grid-template-areas:
                    "header"
                    "nav"
                    "content"
                    "side"
                    "footer";

                grid-template-columns: 1fr;
                grid-template-rows:
                    auto
                    /* Header */
                    minmax(75px, auto)
                    /* Nav */
                    1fr
                    /* Content */
                    minmax(75px, auto)
                    /* Sidebar */
                    auto;
                /* Footer */
            }

            nav,

            aside {
                margin: 0;
            }

            /* sidebar menu*/

            .sidebar {
                display: none;
                background-color: aliceblue;
            }

            .hamburger-checkbox {
                display: block !important;
                position: absolute;
                opacity: 0;
            }

            .hamburger-label {
                position: absolute;
                /* top: 32px;
                left: 32px; */
                z-index: 1;
                display: block !important;
                width: 42px;
                height: 42px;
                font: 42px/42px fontawesome;
                text-align: center;
                color: #444;
                cursor: pointer;
                overflow: hidden;
            }

            .hamburger-checkbox:checked~.hamburger-label:before {
                content: '\f00d';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                display: block;
                width: 42px;
                height: 42px;
                font: 42px/42px fontawesome;
                text-align: center;
                color: #eee;
            }

            .hamburger-checkbox:checked~.sidebar {
                display: inline-block;
                width: 75%;
                height: 100%;
                /* padding-top: 6.5em; */
                position: absolute;
                z-index: 100;
            }

            /*sidebar menu*/
        }

        .hamburger-label,
        .hamburger-checkbox {
            display: none;
        }

        .style2 {
            font-size: 24px;
            color: #2DAEBF;
            cursor: pointer;
            /*text-shadow: 0px 1px 0px #0092b3, 0px 2px 0px #0087a6, 0px 3px 0px #008099, 0px 4px 0px #00758c, 0px 5px 0px #555, 0px 6px 0px #006a80, 0px 0px 0px #006073, 0px 8px 7px #005566;*/
        }

        .userprofile {            
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }

        p.cmd, p.output {
            background-color: black;
            color: white;
            border-top: solid 20px rgb(227, 227, 227);
            font-size: 12px;
        }