@import url(http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400);

body {
    font-family: "Merriweather", Helvetica, Serif;
    font-weight: 400;
    font-size: 12px;
    color: #333;
    background-color: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1, h3, h4 {
    font-weight: 400;
}

h1 {
    border-bottom: 1px solid rgba(126, 126, 126, 0.3);
    padding: 35px 15px 15px 15px;
    margin: 0px 20px 20px 20px;
    position: relative;
    font-size: 38px;
}

h2 {
    font-size: 30px;
    /*padding-bottom: 5px;
	border-bottom: 5px solid rgba(190, 211, 226, 0.2);*/
    color: #001F3F;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    font-weight: 700;
}

h3 {
    font-style: italic;
    font-size: 26px;
    color: #585959;
    text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4);
}

h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 20px;
    padding: 10px 0px;
    color: #626a6f;
    border-bottom: 1px solid rgba(126, 126, 126, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
}

a {
    color: slategray;
    text-decoration: none;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
}

    a:hover {
        color: #4875B4;
    }

.hs-headline {
    text-align: center;
}

    .hs-headline span {
        font-size: 14px;
    }

.hs-author {
    text-transform: uppercase;
    display: block;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 20px 10px;
}

.hs-menu {
    position: fixed;
    z-index: 100;
    width: 240px;
    left: 0px;
    top: 0px;
    height: 100%;
}

    .hs-menu nav {
        position: absolute;
        top: 280px;
        left: 0px;
        right: 0px;
        bottom: 50px;
    }

        .hs-menu nav a {
            display: block;
            padding: 10px 20px;
            text-align: center;
            outline: none;
            border-bottom: 1px dashed rgba(126, 126, 126, 0.2);
        }

            .hs-menu nav a:active {
                box-shadow: 7px 0px 17px #000 inset;
            }

            .hs-menu nav a:first-child {
                border-top: 1px dashed rgba(126, 126, 126, 0.2);
            }

            .hs-menu nav a span:nth-child(2) {
                display: block;
                color: #fff;
                font-style: italic;
                font-weight: 400;
                text-transform: none;
                padding-top: 3px;
            }

.hs-top{      
   padding: 30px 20px 10px 30px;
   height:50px;
   background-color: gold;
   /*box-shadow: 1px 3px 1px #888888;*/
}

.linkedin{
   font-weight: bold;
   font-size:150%;
   font-family: Myriad Pro;
   background-color:slategray;
   color:white;
   text-decoration:none;
   padding: 0px 2px;
   border-radius: 12px;
   margin:5px;
}
   .linkedin:hover{
      color: white;
   }

.top-link{
   margin-right: 24px;
   font-weight: bold;
   font-size: 125%;
 }
 
 .about{
   display:none;
 }
    
.left{
  float:left;
}

.right{
  float:right;
}
.hs-outer{
   top:98px;
   position:fixed;
   padding: 30px 20px 10px 30px;
   overflow-x:hidden;
   overflow-y:auto;
   height:85%;
}

.hs-inner {
    
}
   /*
   .hs-inner:nth-child(odd) {
       background: #e0e0e0;
   }*/

    .hs-inner p, .hs-inner ul {
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        position: relative;
        padding: 10px 0px;
        /*text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.8);*/
        letter-spacing: 1px;
    }

   .hs-inner p:first-child:first-letter {
       font-size: 28px;
   }

a.hs-totop-link {
    display: none;
    content: 'Scroll to top';
    position: fixed;
    z-index: 10000;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #001F3F;
    text-shadow: 1px 1px 1px #fff;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
    border-top: 1px solid #cacaca;
}

footer {
    bottom: 10px;
    position: absolute;
}

    footer ul li {
        float: left;
        padding-right: 10px;
    }

    footer ul li, .posts li {
        list-style: none;
    }

.posts {
    font-size: 16px;
}

.output{
   font-size:10px;
   border:solid 1px #ccc;
}

.error{
   color:red;
   font-size:10px;
   border:solid 1px #ccc;
}
.cmd{
   background-color:black;
   color:white;
   display:inline;
}
/*
.cmd:before {
    content: "c:\>";
}*/

/* Media Queries */
@media screen and (max-width: 1024px) {
   .hs-outer {
      width:90%;
      overflow-y: auto;
    }
    .about{
      display:none;
    }
}

@media screen and (max-width: 715px) {
   .linkedin{
      display:none;
   }
   
   .about{
      display:block;
    }


    a.hs-totop-link {
        display: block;
    }

    .hs-menu {
        position: relative;
        width: 100%;
        height: 460px;
    }

        .hs-menu nav {
            top: 230px;
            bottom: 20px;
        }

    .hs-outer {
        border: none;
        width:90%;
        overflow-y: auto;
    }

      .hs-outer:first-child {
          width: 100%;
          float: none;
          overflow-y: auto;
      }
}

@media only screen and (max-width: 640px) {
    .hs-headline, footer {
        display: none;
    }

    .hs-menu nav {
        position: relative;
        top: 0px;
    }
    
    .hs-outer {
        border: none;
        width:90%;
        overflow-y: auto;
    }

    .hs-menu {
        position: relative;
        height: auto;
    }
    
    .linkedin{
      display:none;
   }
   
   .about{
      display:inline-block;
    }
}
/*
@media only screen and (max-width: 480px) {
   this css is same as with max-width 640px so commenting...
}*/
