<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Vikram Kumar Srirangam's Tech Blog">
    <meta name="keywords" {{ "content='" + page.keywords + "'" }}>
    <meta name="author" content="Vikram Kumar Srirangam">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2F3BA2">
    <meta name="apple-mobile-web-app-title" content="Vikram's Blog">
    <link rel="apple-touch-icon" href="images/launcher192x192.png">
    <meta name="msapplication-TileImage" content="images/launcher192x192.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/fonts/foundation-icons.css" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
</head>

<body>
    <div class="container">
        <header>
            <!-- Header content -->
            <span>&nbsp;</span>
            <a href="/">vikram's blog</a>
            <a href="/blog">posts</a>
            <span>&nbsp;</span>
        </header>

        <input id="hamburger" type='checkbox' class="hamburger-checkbox">
        <label for="hamburger" class="hamburger-label" role="button" aria-labelledby="menu">=</label>
        <nav class="sidebar">
            <!-- Navigation -->
            <input id="hamburger" type='checkbox' class="hamburger-checkbox">
            <label for="hamburger" class="hamburger-label" role="button" aria-labelledby="menu">X</label>
            <ul class="menu">
                <li>
                    <img src="/images/LkdIn.jpg" class="userprofile" alt="user profile photo" />                    
                    <h5 id="mainText" class="center">My Name Is</h5>
                    <h1 class="center">
                        Vikram Kumar <b>Srirangam</b>
                    </h1>
                    <p class="center">Full Stack Web Developer.</p>
                    <h5 class="center"><b>ABOUT ME</b></h5>
                    <p>
                        A .Net Web Application Developer and an open source enthusiast. Writes most of the code in
                        JavaScript, C# and Python. Completed Masters in Computer Applications in 2006. An amateur
                        photographer, nature and history lover.
                        <!-- <br />
                        <br />
                        <i>"My mission in life is not merely to survive, but to thrive; and to do so with some passion,
                            some compassion, some humor, and some style. -Maya Angelou"</i> -->
                    </p>
                </li>
                <li>
                    <a href="https://in.linkedin.com/in/vikramsrirangam?trk=profile-badge" class="social fi-social-linkedin"
                        target="_blank" title="social link to Linkedin">
                        <i class="icon-social-linkedin">&nbsp;</i>
                    </a>
                    <a href="https://github.com/vwtt" class="social fi-social-github" target="_blank" title="social link to GitHub">
                        <i class="icon-social-github">&nbsp;</i>
                    </a>
                    <!-- <a href="https://www.codewars.com/users/vwtt" class="social-link" target="_blank"
                        title="social link to CodeWars">
                        <img src="https://www.codewars.com/users/vwtt/badges/small" alt="codewars badge of honor">
                    </a> -->
                </li>
            </ul>
        </nav>

        <main>
            <!-- Main content -->
            {{ content }}
        </main>

        <!-- <aside>
            Sidebar / Ads
        </aside> -->

        <footer>
            <!-- Footer content -->
            <span>
                © Copyright 2020, <a href="https://vwtt.github.io" target="_blank" rel="noopener">Vikram Kumar Srirangam</a>
            </span>
        </footer>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/service-worker.js')
                .then(function () { console.log('Service Worker Registered'); });
        }
    </script>
</body>

</html>