<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Vikram Kumar Srirangam's Tech Blog">
    <meta name="keywords" content="HTML,CSS,JavaScript,C#,Design Patterns,.Net Core, Asp.Net Core">
    <meta name="author" content="Vikram Kumar Srirangam">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#2F3BA2">
    <meta name="apple-mobile-web-app-title" content="Vikram's Blog">
    <link rel="apple-touch-icon" href="images/launcher192x192.png">
    <meta name="msapplication-TileImage" content="images/launcher192x192.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/fonts/foundation-icons.css" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
</head>

<body>
    <div class="container">
        <header>
            <h4>
                <i class="icon-directions">&nbsp;</i>
                <a href="https://srirangamv.github.io/blog">Go back to Vikram's Blog</a>
                <span>{{ page.title }}</span>
            </h4>
        </header>
        <nav class="sidebar">
            some description goes here.
        </nav>
        <main>
            <!-- Main content -->
            {{ content }}
        </main>

        <!-- <aside>
            Sidebar / Ads
        </aside> -->
        <footer>
            <!-- Footer content -->
            <p>
                © Copyright 2020, <a href="https://srirangamv.github.io" target="_blank" rel="noopener">Vikram Srirangam</a>
            </p>
        </footer>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/service-worker.js')
                .then(function () { console.log('Service Worker Registered'); });
        }
    </script>
</body>

</html>